In [8]:
import pandas as pd

#Importation du fichier CSV
df = pd.read_csv("Automobiles.csv")
#Affichage des 5 premières lignes
df.head()

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [10]:
#Affichage du type de données
print (df.dtypes)

Unnamed: 0            int64
index                 int64
company              object
body-style           object
wheel-base          float64
length              float64
engine-type          object
num-of-cylinders     object
horsepower            int64
average-mileage       int64
price               float64
dtype: object

In [12]:
#Affichage des valeurs (il n'y en a aucune)
df.isna().sum()

Unnamed: 0          0
index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [42]:
#Affichage des détails de toutes les voitures de marque Toyota
Toyota = df[df["company"] == 'toyota']
print(Toyota)

    Unnamed: 0  index company body-style  wheel-base  length engine-type  \
45          45     66  toyota  hatchback        95.7   158.7         ohc
46          46     67  toyota  hatchback        95.7   158.7         ohc
47          47     68  toyota  hatchback        95.7   158.7         ohc
48          48     69  toyota      wagon        95.7   169.7         ohc
49          49     70  toyota      wagon        95.7   169.7         ohc
50          50     71  toyota      wagon        95.7   169.7         ohc
51          51     79  toyota      wagon       104.5   187.8        dohc

   num-of-cylinders  horsepower  average-mileage    price
45             four          62               35   5348.0
46             four          62               31   6338.0
47             four          62               31   6488.0
48             four          62               31   6918.0
49             four          62               27   7898.0
50             four          62               27   8778.0
51              six         156               19  15750.0

In [61]:
#Le nom de la compagnie, le nombre de chevaux et prix
expensive = df[['company','horsepower','price']][df['price']==df['price'].max()]
print (expensive)

          company  horsepower    price
33  mercedes-benz         184  45400.0

In [28]:
#Affichage du nombre de voitures par comapgnie
df['company'].value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
jaguar           3
dodge            2
porsche          2
volvo            2
isuzu            1
Name: count, dtype: int64

In [36]:
#la voiture avec le prix le plus élevé pour chaque compagnie
max_price = df.groupby('company')['price'].max()
print (max_price)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [38]:
#la moyenne de kilométrage par compagnie
avg_km = df.groupby('company')['average-mileage'].mean()
print (avg_km)

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            24.000000
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

In [55]:
#Tri des voitures par prix
df.sort_values(by='price')

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
13,13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
25,25,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
45,45,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
34,34,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
26,26,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
35,35,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
17,17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
14,14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
46,46,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
16,16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
47,47,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
15,15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
39,39,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
21,21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
27,27,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
40,40,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
48,48,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
36,36,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
38,38,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
18,18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
41,41,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
52,52,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
49,49,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,53,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
54,54,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
37,37,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
50,50,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
55,55,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
20,20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
28,28,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
56,56,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
19,19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
57,57,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
0,0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
42,42,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
3,3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
5,5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
51,51,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
7,7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
1,1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
8,8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
4,4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
29,29,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
6,6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
9,9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
30,30,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
31,31,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
10,10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
22,22,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
43,43,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
23,23,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
24,24,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
12,12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
44,44,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
32,32,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
11,11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
33,33,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0